<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.InfrastructureInfoMapper">

    <!-- 分页获取楼宇信息 -->
    <select id="infrastructureInfoByPage" resultType="java.util.LinkedHashMap">
        SELECT
        ii.id,
        ii.infrastructure_name AS infrastructureName,
        ii.use_date AS useDate,
        ii.community,
        ii.brand
        FROM
        infrastructure_info ii
        WHERE 1 = 1
        <if test="infrastructureInfo.infrastructureName != null and infrastructureInfo.infrastructureName != ''">
            AND ii.infrastructure_name LIKE CONCAT('%',#{infrastructureInfo.infrastructureName},'%')
        </if>
        <if test="infrastructureInfo.brand != null and infrastructureInfo.brand != ''">
            AND ii.brand LIKE CONCAT('%',#{infrastructureInfo.brand},'%')
        </if>
        <if test="infrastructureInfo.community != null and infrastructureInfo.community != ''">
            AND ii.community LIKE CONCAT('%',#{infrastructureInfo.community},'%')
        </if>
        ORDER BY ii.use_date DESC
    </select>
</mapper>
