<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.InfrastructureMapper">
<!--    每个设施的对应7天的检查记录-->
    <select id="searchInfrastructureInRangeByPage" resultType="cc.mrbird.febs.cos.entity.dto.InfrastructureDto">
        SELECT
        im.id AS recordId,
        im.worker,
        im.date,
        im.message,
        im.status,
        ii.infrastructure_name AS infrastructureName,
        ii.community,
        ii.use_date,
        ii.id,
        wi.name AS workerName
        FROM
        infrastructure_manage im
        JOIN worker_info wi ON ( wi.id = im.worker )
        JOIN infrastructure_info ii ON (ii.id = im.infrastructure_id)
        WHERE  im.date BETWEEN DATE(#{infrastructureManage.startDate}) AND DATE(#{infrastructureManage.endDate})
<!--        <if test="infrastructureManage.infrastructureName != null and infrastructureManage.infrastructureName != ''">-->
<!--            AND im.infrastructure_name LIKE CONCAT('%',#{infrastructureManage.infrastructureName},'%')-->
<!--        </if>-->
<!--        <if test="infrastructureManage.community != null and infrastructureManage.community != ''">-->
<!--            AND im.community LIKE CONCAT('%',#{infrastructureManage.community},'%')-->
<!--        </if>-->
        ORDER BY im.id
    </select>

<!--    新增设施（废物）-->
    <insert id="addInfo" useGeneratedKeys="true" parameterType="cc.mrbird.febs.cos.entity.InfrastructureInfo">
        INSERT INTO infrastructure_info
            (infrastructure_name,use_date,community)
        VALUES (#{infrastructureInfo.infrastructureName},#{infrastructureInfo.useDate},#{infrastructureInfo.community})
    </insert>

<!--    根据id查找检查记录-->
    <select id="searchInfrastructureRecord" parameterType="int" resultType="cc.mrbird.febs.cos.entity.dto.InfrastructureDto">
        SELECT
            im.id AS recordId,
            im.worker,
            im.date,
            im.message,
            im.status,
            ii.infrastructure_name AS infrastructureName,
            ii.community,
            ii.use_date,
            ii.id,
            wi.name AS workerName
        FROM
            infrastructure_manage im
                JOIN worker_info wi ON ( wi.id = im.worker )
                JOIN infrastructure_info ii ON (ii.id = im.infrastructure_id)
        where im.id = #{id}
    </select>

    <!--    修改检查记录-->
    <update id="editRecord" parameterType="cc.mrbird.febs.cos.entity.InfrastructureManage">
        UPDATE infrastructure_manage
        SET `date` = #{infrastructureManage.date},
            message = #{infrastructureManage.message},
            status = #{infrastructureManage.status},
            worker = #{infrastructureManage.worker}
        WHERE id = #{infrastructureManage.id}
    </update>


    <!--    新增设施记录-->
    <insert id="addRecord" useGeneratedKeys="true" parameterType="cc.mrbird.febs.cos.entity.InfrastructureManage">
        INSERT INTO infrastructure_manage
            (infrastructure_id,`date`,message,status,worker)
        VALUES (#{infrastructureManage.infrastructure_id},
                #{infrastructureManage.date},
                #{infrastructureManage.message},
                #{infrastructureManage.status},
                #{infrastructureManage.worker})
    </insert>

</mapper>